/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

.dotted
  border 1px dotted #aaa


/* -----------------------------------------
   Page Name 1
----------------------------------------- */

#workarea
  min-height 200px

draggable(width, height, bg_img)
  cursor move
  margin-bottom 10px
  padding 3px
  width width
  height height
  background url(bg_img) no-repeat center
  background-color white
  border 1px solid #aaa

.text
  draggable(94px, 17px, '/images/text.png')

.text_field
  draggable(85px, 30px, '/images/text_field.png')

.checkbox
  draggable(166px, 92px, '/images/checkbox.png')

/* -----------------------------------------
   Page Name 2
----------------------------------------- */


