html, body {
    font-family: Arial, Verdana, sans-serif;
}

.slide {
    background: -webkit-linear-gradient(top, #666, #eee);
    background: -moz-linear-gradient(top, #666, #eee);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 2px #808080;
    width:800px;
}

.title {
    color: #fff;
    text-align:center;
    font-size: 5em;
}

.subtitle {
    font-size: 0.7em;
}

#start {
}