/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

.dotted
  border 1px dotted #aaa

.solid
  border 1px solid #666
  background-color #ddd

.green
  background-color #2ACBBA


/* -----------------------------------------
   Page Name 1
----------------------------------------- */

box()
  min-height 200px
  margin-bottom 15px

#workarea
  box()

#preview
  box()

draggable(width, height, bg_img)
  margin-bottom 10px
  padding 3px
  width width
  height height
  background url(bg_img) no-repeat center
  background-color white
  border 1px solid #aaa

.text
  draggable(94px, 17px, '/images/text.png')

.text_field
  draggable(85px, 30px, '/images/text_field.png')

.checkbox
  draggable(166px, 92px, '/images/checkbox.png')

#workarea ul
  border 1px solid red
  display block
  list-style none
  overflow auto

#workarea ul li
  display inline
  float left
/* -----------------------------------------
   Page Name 2
----------------------------------------- */


