margin = 10px
padding = 10px

html, body
  height 100%
  font-family Aria, Verdana, sanf-serif
  font-size 0.85em

#main
  width 100%
  height 100%

.row
  float left
  position relative
  width 100%
  overflow auto

wrapper(width, float)
  height 100%
  width width
  float float

#wrapper-work
  wrapper(80%, left)

#wrapper-toolbar
  wrapper(20%, right)

container(color)
  border 1px solid grey
  height 100%
  background-color color
  margin 0 margin
  padding padding

#work
  container(#add8e6)

#clean
  float right

#toolbar
  container(#90ee90)

box(float, width, min-width)
  margin 10px
  padding 10px
  border 1px solid grey
  min-height 200px
  overflow auto
  float float
  width width
  min-width min-width
  border-radius 10px
  background-color #fff
  box-shadow 5px 5px 3px #666

#drag_container
  box(left, 75%, 500px)

#drag_edit
  box(right, 15%, 200px)

#preview
  margin 10px
  padding 10px
  border 1px dotted grey
  min-height 200px
  overflow auto

draggable(width, height, bg_img)
  cursor move
  margin-bottom 10px
  padding 3px
  width width
  height height
  background url(bg_img) no-repeat center
  background-color white
  border 1px solid #aaa

.active
  display inline-block
  margin-right 10px
  cursor pointer !important

.controls_wrapper
  width 100px
  height 20px
  background-color lightblue
  border 1px solid red

.text
  draggable(94px, 17px, '/img/text.png')

.text_field
  draggable(85px, 30px, '/img/text_field.png')

.checkbox
  draggable(166px, 92px, '/img/checkbox.png')

.item
  float left
  margin 5px